<!-- Filename: blogDisplay.ejs
     Description: File containing repeatable form for individual blogs
     This loops through each blog in blogArray and displays
     the blogs on the blog page -->
<% blogArray.forEach(function(blog){ %>
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-8 col-xs-8">
            <h3>Title: <%= blog.title %></h3>
            <h5>Author: <%= blog.author %></h5>
            <h5>Is active: <%= blog.is_active %></h5>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
            <form method="POST" action="/blog/deleteBlog">
                <input type="hidden" class="form-control d-none" id="blogID" name="blogID" value=<%= blog.id %> />
                <div style="margin-top:20px"><button type="submit" class="btn btn-default">Delete</button></div>
            </form>
            <form method="POST" action="/blog/toggleIsActive">
                <input type="hidden" class="form-control d-none" id="blogID" name="blogID" value=<%= blog.id %> />
                <div style="margin-top:10px"><button type="submit" class="btn btn-default">Toggle</button></div>
            </form>
            <form method="POST" action="/blog/editBlog">
                <input type="hidden" class="form-control d-none" id="blogID" name="blogID" value=<%= blog.id %> />
                <div style="margin-top:10px"><button type="submit" class="btn btn-default">Edit</button></div>
            </form>
        </div>
    </div>
<% }) %>